@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap");
:root {
  --font-family: "Work Sans", sans-serif;

  --black-color: #060604;
  --white-color: #f6f1d3;
  --grey-color: #232323;

  --color-one: #b80f12;
  --color-two: #710002;
  --color-three: #704e32;

  --gap-1: 20px;

  --margin-1: 15px;
  --margin-2: 25px;
  --margin-3: 50px;

  --border-radius-1: 10px;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family);
  background: var(--black-color);
  color: var(--white-color);
  overflow-x: hidden;
}

nav {
  margin-top: var(--margin-1);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 2;
}

nav .navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-1);
}

nav .navbar-content span {
  text-shadow: 0px 0px 5px var(--black-color);
}

nav img {
  width: 50px;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--color-one) 50%,
    var(--color-two) 100%
  );
  display: grid;
}

.content-hero {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  z-index: 2;
  padding-left: 20vw;
}

.hero-text {
  font-size: 1.7rem;
  font-weight: 400;
}

.hero-text span {
  margin-top: var(--margin-1);
  font-size: 3rem;
  font-weight: 800;
  display: block;
  text-transform: uppercase;

  white-space: nowrap;
}

form {
  position: relative;
  margin-top: var(--margin-2);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-control {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input {
  font-family: var(--font-family);
  font-weight: 800;
  width: 100%;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: var(--border-radius-1);
  outline: none;
}

.button {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  font-family: var(--font-family);
  font-weight: 600;
  background: var(--color-one);
  color: var(--white-color);
  cursor: pointer;
}

form input::placeholder {
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--black-color);
  padding-left: 5px;
}

form .input-error {
  margin-top: var(--margin-1);
  padding-left: 10px;
  letter-spacing: 1px;
}

.hero-img {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.hero-img img {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  object-fit: cover;
}

.about {
  background: linear-gradient(
    to top,
    var(--color-one) 50%,
    var(--color-two) 100%
  );
}

.about .content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.about .about-infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-about {
  width: 60%;
  position: absolute;
  right: 50px;
  font-size: 1.3rem;
}

.img-about {
  position: absolute;
  left: 10px;
  width: 30%;
  height: 100%;
}

.img-about img {
  position: absolute;

  height: 100%;
  -webkit-clip-path: polygon(
    100% 0%,
    75% 50%,
    100% 100%,
    25% 100%,
    0% 50%,
    25% 0%
  );
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.last-news {
  position: relative;
  height: max-content;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-one) 50%,
    var(--color-two) 100%
  );
  flex-direction: column;
}

.last-news .background-img {
  position: absolute;

  right: 10px;

  width: 30%;
  height: 100%;
}

.last-news .background-img img {
  width: 100%;
  height: 100%;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  object-fit: cover;
}

.last-news h1.title {
  text-align: center;
  margin-bottom: var(--margin-3);
  font-size: 3rem;
  z-index: 2;
  text-transform: uppercase;
  
}

.last-news .cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: var(--gap-1);
  z-index: 2;
}

.last-news .card {
  position: relative;
  height: 300px;
  width: 300px;

  background: linear-gradient(
    to bottom,
    transparent -5%,
    var(--black-color) 100%
  );
  -webkit-clip-path: polygon(50% 0%, 100% 40%, 82% 100%, 18% 100%, 0% 40%);
  clip-path: polygon(50% 0%, 100% 40%, 82% 100%, 18% 100%, 0% 40%);
}



.last-news .card-img {
  width: 100%;
  height: 100%;
  background: black;
}

.last-news .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
 
}

.card-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    transparent -5%,
    var(--black-color) 100%
  );
  bottom: 0;
}

.last-news a {
  color: var(--white-color);
}

.card-text .title {
  width: 70%;
  font-size: 0.8rem;
  font-weight: 800;
}

footer {
  padding: 20px 0px;
  width: 100vw;
  min-height: 15vh;
  background: linear-gradient(to bottom, var(--color-two) -90%, var(--white-color) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



footer .social-medias{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-medias ul{
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer .social-medias ul a{
  color: #232323;
  font-size: 1.5rem ;
}


footer .copyright{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--grey-color);
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 0;
  }

  .content-hero {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }

  .hero-content {
    padding-left: 5px;
    order: 2;
  }
  .hero-text {
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    text-shadow: 0px 1px 2px var(--black-color);
  }

  .hero-text span {
    font-size: 1.8rem;
  }

  .hero-img {
    right: 0;

    order: 1;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }

  .hero-img img {
    position: relative;
  }

  form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-about {
    right: 15%;
    text-shadow: 0px 1px 1px var(--black-color);
    font-size: 1.2rem;
  }

  .img-about {
    left: 0;
    width: 100%;
  }

  .img-about img {
    clip-path: none;
    width: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(
      100% 0%,
      75% 50%,
      100% 100%,
      25% 100%,
      0% 50%,
      25% 0%
    );
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }

  
  .last-news .background-img {
    width: 100%;
  }

  .last-news h1.title{
    text-shadow: 0px 1px 1px var(--black-color);
  }
}
